* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    box-shadow: 3px 5px 25px grey;
    border-radius: 100%;
    transition: all 1s;
}

img {
    transition: all 0.7s;
}

img:hover {
    cursor: pointer;
    /*transform: scale(1.1);*/
    transform: scale(1.1) rotate(360deg);
    transition: all 1s;
}